.icon-font {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  &.middle {
    vertical-align: middle;
  }
  &.cursor {
    cursor: pointer;
  }
  &.disabled {
    color: #c0c4cc;
    cursor: not-allowed;
  }
}